In [6]:
def test(a,b):
    '''This is function for concatenation or addition'''
    return a+b

In [7]:
test(4,5)

9

In [8]:
test("Madhu", "Priya")

'MadhuPriya'

In [4]:
test(a =9, b = 10)

19

In [5]:
test(b = 19 , a=10)

29

In [9]:
print()

In [10]:
def test(a,b,c,d,e):
    return a,b,c,d,e

In [14]:
test(3,4,5,6,7,8)

TypeError: test() takes 5 positional arguments but 6 were given

In [15]:
# create a function where we can pass multiple parameter at run time
def test(*a):
    return a

In [16]:
test(35,38)

(35, 38)

In [17]:
test(34,56,78,90)

(34, 56, 78, 90)

In [18]:
test(3,4,5,6,[12,34,56,78])

(3, 4, 5, 6, [12, 34, 56, 78])

In [19]:
def test1(*args):
    return args

In [20]:
test1(34,56,12,90)

(34, 56, 12, 90)

In [24]:
# write a function which return all the parameter as list
def test3(*a):
    l = []
    for i in a:
        l.append(i)
    return l

In [25]:
test3(2,3,4,56,(34,67,89,"Madhu"))

[2, 3, 4, 56, (34, 67, 89, 'Madhu')]

In [27]:
def test4(a,b,c,d,e,*m):
    return a,b,c,d,e,m

In [29]:
test4(2,3,4,5,6,(23,56,78,90))

(2, 3, 4, 5, 6, ((23, 56, 78, 90),))

In [41]:
def test5(*m,a,b,c,d,e):
    return m,a,b,c,d,e

In [42]:
test5(3,4,5,6,7,8,9,12,34,56,90)

TypeError: test5() missing 5 required keyword-only arguments: 'a', 'b', 'c', 'd', and 'e'

In [43]:
# how to resolve this problem?
test5(3,4,5,6,7,8,a = 9,b = 12,c = 34,d = 56,e = 90)

((3, 4, 5, 6, 7, 8), 9, 12, 34, 56, 90)

In [45]:
# can we pass * *? ---> no we can't what is the use of it?
def test6(*m,a,b,c,d,*e):
    return m,a,b,c,d,e

SyntaxError: invalid syntax (3134885680.py, line 2)

In [46]:
# how to pass dictionary?--> use ** for key value pair kind of data set
def test7(**madhu):
    return madhu

In [47]:
test7(3,4,5,6) # it expects key value pair

TypeError: test7() takes 0 positional arguments but 4 were given

In [48]:
test7(a = 3,b = 4,c = 5,d = 6)

{'a': 3, 'b': 4, 'c': 5, 'd': 6}

In [49]:
d = {'a': 3, 'b': 4, 'c': 5, 'd': 6}

In [51]:
test7(d) # it doesn't take it bcz it expects key and value kind of data as argument

TypeError: test7() takes 0 positional arguments but 1 was given

In [2]:
# how to use both * and ** in a function
def test8(*m, **s):
    return m, s

In [3]:
test8(345,56,78,12,34,a = 90,b = 98, c = "Madhu")

((345, 56, 78, 12, 34), {'a': 90, 'b': 98, 'c': 'Madhu'})

In [2]:
def test9(*m):
    n = 0
    for i in m:
        if type(i) == int:
            n = n+i
    return n

In [3]:
test9(3,4,5,6,7,"Madhu")

25

In [6]:
def test10(*m):
    n = 1
    for i in m:
        if type(i) == int:
            n = n*i
    return n

In [7]:
test10(3,4,5,6,7,"Madhu")

2520

In [8]:
# how to create anonymus function or inline finction i.e function without name i.e called Lambda function
# avoid using complex logic in lambda function bcz it becomes clumsy
n = lambda a , b : a + b

In [11]:
n(4,5)

9

In [13]:
def test5(a,b):
    return a+b

In [15]:
test5(4,5)

9

In [22]:
b = lambda *madhu : madhu

In [23]:
b(34,56,78,12,34,546,9)

(34, 56, 78, 12, 34, 546, 9)

In [25]:
# do this entire thing(Take a tuple t then create new list and append the value of tuple in list) in one line
t = (3,4,5,6,7,8,7,7,7)
l = []
for i in t:
    l.append(i)

In [26]:
l

[3, 4, 5, 6, 7, 8, 7, 7, 7]

In [29]:
[i for i in t] # it is called list comprehension operation we have applied list over comprehension operation

[3, 4, 5, 6, 7, 8, 7, 7, 7]

In [31]:
s = "madhu"

In [32]:
[i for i in s]

['m', 'a', 'd', 'h', 'u']

In [1]:
# generate square of no. from 1 to 10
l = []
for i in range(10):
    l.append(i*i)

In [3]:
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [22]:
l = lambda *x : [i**2 for i in x] # ** menas square

In [23]:
l(2,3,4,5,6)

[4, 9, 16, 25, 36]

In [24]:
l = [2,3,4,5,6]
for i in l:
    print(i*i+1)

5
10
17
26
37

In [25]:
# write a function to retrieve the no. of string we have passed in a dictionary

test(a = 7, b = "Madhu", c = 345, d = "Madhu" , l = [2,3,4,"madhu"])

NameError: name 'test' is not defined

In [5]:

def test4(**kwargs):
    count = 0
    print(kwargs)
    print(kwargs.values())
    for v in kwargs.values():
        if type(v) == str or type(v) == list:
            count += 1
    return count

In [6]:
test4(a = 7, b = "Madhu Priya", c = 345, d = "Madhu" , l = [2,3,4,"madhu"])

{'a': 7, 'b': 'Madhu Priya', 'c': 345, 'd': 'Madhu', 'l': [2, 3, 4, 'madhu']}
dict_values([7, 'Madhu Priya', 345, 'Madhu', [2, 3, 4, 'madhu']])

3

In [16]:
# return the list of values
l = lambda **d : [i for i in d.values()]

In [20]:
l(a = 7,b ="Madhu Priya", c = 345, d = "Madhu" , e = [2,3,4,"madhu"])

[7, 'Madhu Priya', 345, 'Madhu', [2, 3, 4, 'madhu']]

In [21]:
def test15(**kwargs):
    return list(kwargs.values())

In [24]:
test15(a = 7, b = "Madhu", c = 345, d = "Madhu" , l = [2,3,4,"madhu"])

[7, 'Madhu', 345, 'Madhu', [2, 3, 4, 'madhu']]

Todays task :
    q1 : Try to print a prime number in between 1 to 1000
    q2 : Try to write a function which  is equivalent  to print function in python
    q3 : Try to write a function which is a replica of list append , extend and pop function 
    q4 : Try to write a lambda function which can return a concatination of all the string that we will pass
    q5 : Try to write a lambda function which can return list of square of all the data between 1-100 
    q6 : Try to write a 10 Different different example of lambda function with a choice of your taks 
    q7 : Try to write a funtion whihch can perform a read operation from .txt file