In [1]:
l = [1,2,3,4,5]

In [2]:
for i in l:
    print(i)

1
2
3
4
5

In [3]:
next(l)

TypeError: 'list' object is not an iterator

In [6]:
b = iter(l)

In [7]:
next(b)

1

In [8]:
next(b)

2

In [11]:
next(b)

4

In [12]:
next(b)

5

In [13]:
next(b)

StopIteration:

# Two terms we are supposed to know 1. iterable 2. iterator

How for loop executes?

In [14]:
next(45)

TypeError: 'int' object is not an iterator

In [15]:
iter(45)

TypeError: 'int' object is not iterable

Object or Data set which is iterable we can convert it into iterator.
data which is not iterable like intger we can't convert it into interator
for loop calls iter() function and convert each and every function into iterator and after that by using next() function it iterate through the data set and extract the data one by one.

In [16]:
for i in 49875:
    print(i)

TypeError: 'int' object is not iterable

# How for loop works?
if object is iterable the for loop converts the object into iterator
and after that by call next() function multiple times and fetch the data.

In [18]:
for i in "madhu": 
    print(i)

m
a
d
h
u

# By default list object is iterable but not iterator.

In [22]:
m = "Madhu"

In [23]:
next(m)

TypeError: 'str' object is not an iterator

# Y this error?
because by default string is not iterator object it is iterable.
so first we need to convert it into iterator using iter() funtion.
after that we can iterate through it and fetch the data.

In [26]:
a = iter(m)

In [27]:
next(a)

'M'

In [28]:
next(a)

'a'

In [29]:
next(a)

'd'

In [30]:
next(a)

'h'

In [31]:
next(a)

'u'

In [32]:
next(a)

StopIteration:

# for loop try to find out the entire length of iterable or iterator object. It knows when to stop?
Hence for loop uses len() function, iter() function and next() function. 
This is how for loop works internally.

In [33]:
t = (3,4,5,6)

In [34]:
next(t)

TypeError: 'tuple' object is not an iterator

In [37]:
b = iter(t)

In [38]:
next(b)

3

In [39]:
next(b)

4

In [40]:
next(b)

5

In [41]:
next(b)

6

In [42]:
next(b)

StopIteration:

we are actually not going to use it anywhere 
but you should know the implementation of for loop for interview purpose

# generator function

In [43]:
range(1,10)

range(1, 10)

In [44]:
list(range(1,10)) # it generates data set for us

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
# write a function which will be able to generate square of data till n
def square(n):
    x = [i**2 for i in range(n)]
    return x

In [41]:
square(10)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
b = lambda n: [i**2 for i in range(n)]

In [43]:
b(10)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [44]:
range(7)

range(0, 7)

In [45]:
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [27]:
def square1(n):
    x =  [i**2 for i in range(n)]
    yield x

In [28]:
square1(10)

# Generator function
it is returning us an object, with the help of this function. we will be able to generate a data set at any point of time

In [29]:
for i in square1(4):
    print(i)

[0, 1, 4, 9]

In [30]:
for i in range(4):
    print(i)

0
1
2
3

In [31]:
next(square1(5))

[0, 1, 4, 9, 16]

In [32]:
next(range(6))

TypeError: 'range' object is not an iterator

In [33]:
r = iter(range(4))

In [34]:
next(r)

0

In [36]:
next(r)

1

In [37]:
next(r)

2

In [38]:
next(r)

3

In [39]:
next(r)

StopIteration:

# Difference b/w return and yield

In case of return function just returns and we get the data but instead of that what we want is 
I don't want a return I want an object and once we iterate through it we will get the data one by one. 
and that finction is called as generator function.

# So to convert any function into a generator function what is our keyword?
our keyword is yield. So instead of using return in a function we can use yield inside a function.
# where can we use it?
So if someone asks you instead of range can we have any other generator function then answer is yield.

In [63]:
# please write a code for fibonacci series.
def genfib(n):
    a = 1
    b = 1
    l = []
    for i in range(n):
        l.append(a)
        a,b = b, a+b
    return l

In [1]:
# genfib(100000000) If you try to give very big no. your system will hang in case of return but not in case of yield.

In [59]:
genfib(10000)

# Now I don't want return. I would like to create range() like function
which will behave like a generator. which will keep on generating the data
I am not expecting it to give data set immediately. It should keep on generating the data set.
So we will see how to do that and then we will see what is the actual difference between return and yield in runtime and it's uses.

In [8]:
def genfib1(n):
    a = 1
    b = 1
    l = []
    for i in range(n):
        l.append(a)
        a,b = b, a+b
    yield(l)

In [9]:
genfib1(10) # here we can see that it is not giving me the data but object

In [10]:
for i in genfib1(10): # so we can see that there is no difference
    print(i)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

 so basically the difference between return and yield is return will first do all the computation
and will return at last but in case of yield cpu will keep executing and keep throwing the data in console
So yes in in case of return cpu computation is very very high and we are not even getting the data
but in case of yield cpu consumption is high but bit less than return and we keep getting data.

# Where do you use?
# Most programmer use return instead of yield any particular reason?
Ans: It depends on requirement If you don't have to generate very big data set better to go with return.
    In case if you need to generate terabyte of data and you don't want to use whole resources in case of big
    computation better go with the yield statement.

by default string, tuple, list all are iterable object not iterator object.

# file operations

In [12]:
f = open("test.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'test.txt'

In [18]:
ls

ExceptionHandling.ipynb                ExceptionHandlingBy sudhansuSir.ipynb

In [19]:
cd

/Users/madhu

In [22]:
pwd

'/Users/madhu'

In [23]:
ls

Applications/             Untitled12.ipynb          challenge1.ipynb
Desktop/                  Untitled13.ipynb          doubts.ipynb
Documents/                Untitled14.ipynb          firstClass.ipynb
Downloads/                Untitled15.ipynb          firstclasspfsd.ipynb
Library/                  Untitled16.ipynb          firstclasspfsdHons.ipynb
Movies/                   Untitled17.ipynb          get-pip.py
Music/                    Untitled18.ipynb          iCloud Drive (Archive)/
Pictures/                 Untitled19.ipynb          ifElse.ipynb
Public/                   Untitled2.ipynb           list and tuple.ipynb
String_Class.ipynb        Untitled3.ipynb           list.ipynb
String_function3.ipynb    Untitled4.ipynb           opt/
StringsRG.ipynb           Untitled5.ipynb           package-lock.json
Untitled.ipynb            Untitled6.ipynb           string_function2.ipynb
Untitled1.ipynb           Untitled7.ipynb           string_functions.ipynb
Untitled10.ipynb          Untitled8.ipynb
Untitled11.ipynb          Untitled9.ipynb

In [25]:
ls

Applications/             Untitled12.ipynb          challenge1.ipynb
Desktop/                  Untitled13.ipynb          doubts.ipynb
Documents/                Untitled14.ipynb          firstClass.ipynb
Downloads/                Untitled15.ipynb          firstclasspfsd.ipynb
Library/                  Untitled16.ipynb          firstclasspfsdHons.ipynb
Movies/                   Untitled17.ipynb          get-pip.py
Music/                    Untitled18.ipynb          iCloud Drive (Archive)/
Pictures/                 Untitled19.ipynb          ifElse.ipynb
Public/                   Untitled2.ipynb           list and tuple.ipynb
String_Class.ipynb        Untitled3.ipynb           list.ipynb
String_function3.ipynb    Untitled4.ipynb           opt/
StringsRG.ipynb           Untitled5.ipynb           package-lock.json
Untitled.ipynb            Untitled6.ipynb           string_function2.ipynb
Untitled1.ipynb           Untitled7.ipynb           string_functions.ipynb
Untitled10.ipynb          Untitled8.ipynb
Untitled11.ipynb          Untitled9.ipynb

In [29]:
# create a file of name madhu
f = open("madhu.txt", 'w')

In [30]:
ls

Applications/             Untitled12.ipynb          challenge1.ipynb
Desktop/                  Untitled13.ipynb          doubts.ipynb
Documents/                Untitled14.ipynb          firstClass.ipynb
Downloads/                Untitled15.ipynb          firstclasspfsd.ipynb
Library/                  Untitled16.ipynb          firstclasspfsdHons.ipynb
Movies/                   Untitled17.ipynb          get-pip.py
Music/                    Untitled18.ipynb          iCloud Drive (Archive)/
Pictures/                 Untitled19.ipynb          ifElse.ipynb
Public/                   Untitled2.ipynb           list and tuple.ipynb
String_Class.ipynb        Untitled3.ipynb           list.ipynb
String_function3.ipynb    Untitled4.ipynb           madhu.txt
StringsRG.ipynb           Untitled5.ipynb           opt/
Untitled.ipynb            Untitled6.ipynb           package-lock.json
Untitled1.ipynb           Untitled7.ipynb           string_function2.ipynb
Untitled10.ipynb          Untitled8.ipynb           string_functions.ipynb
Untitled11.ipynb          Untitled9.ipynb           test.txt

different filr operation
Mode of file operation
r -> read operation
w -> write operation
r+ -> open a file for both writing and reading
w+ -> both read and write operation
wb ->
wb+ ->
a ->
rb ->

In [31]:
f.write("This is my first file operation")

31

In [32]:
f.close()

In [33]:
ls

Applications/             Untitled12.ipynb          challenge1.ipynb
Desktop/                  Untitled13.ipynb          doubts.ipynb
Documents/                Untitled14.ipynb          firstClass.ipynb
Downloads/                Untitled15.ipynb          firstclasspfsd.ipynb
Library/                  Untitled16.ipynb          firstclasspfsdHons.ipynb
Movies/                   Untitled17.ipynb          get-pip.py
Music/                    Untitled18.ipynb          iCloud Drive (Archive)/
Pictures/                 Untitled19.ipynb          ifElse.ipynb
Public/                   Untitled2.ipynb           list and tuple.ipynb
String_Class.ipynb        Untitled3.ipynb           list.ipynb
String_function3.ipynb    Untitled4.ipynb           madhu.txt
StringsRG.ipynb           Untitled5.ipynb           opt/
Untitled.ipynb            Untitled6.ipynb           package-lock.json
Untitled1.ipynb           Untitled7.ipynb           string_function2.ipynb
Untitled10.ipynb          Untitled8.ipynb           string_functions.ipynb
Untitled11.ipynb          Untitled9.ipynb           test.txt

In [34]:
pwd

'/Users/madhu'

# Two ways to do write operations over file
# 1st Method

In [36]:
f1 = open("test1.txt", 'w')

In [37]:
f1.write("I am tryind to learn file operations")

36

In [38]:
f1.close()

In [39]:
l = [1,2,3,4,5,6,7] # try to store it inside file

In [40]:
f2 = open("test2.txt", 'w')

In [41]:
f2.write(l)

TypeError: write() argument must be str, not list

# Why this error?
Since write doesn't accept list type it only stores data in form of string.
So we need to convert the list in list.

In [42]:
f2.write(str(l))

21

In [44]:
f2.close() # without closing the file data won't get stored in file.

In [45]:
f3 = open("test.madhu",'w')# we can create a file with any extension

In [46]:
f3.write("I love python")

13

In [47]:
f3.close()

# 2nd Method

In [54]:
%%writefile test5.txt
This is my python program to write into a file in different way.
This is my python program to write into a file in different way.
This is my python program to write into a file in different way
This is my python program to write into a file in different way
This is my python program to write into a file in different way
This is my python program to write into a file in different way
This is my python program to write into a file in different way

Overwriting test5.txt

In [50]:
pwd

'/Users/madhu'

# y is it important?
people are not going to give you data directly.
They will be giving you in some file format or can give access of databases 
in sql or no sql so from there you will have to perfom read/write operations and you will have to 
write the logic over those files and i.e where it helps.
In python it's very easy to work with file in any kind of file format.

In [57]:
# perform only read operation
f = open('test5.txt')
f.read()

'This is my python program to write into a file in different way.\nThis is my python program to write into a file in different way.\nThis is my python program to write into a file in different way\nThis is my python program to write into a file in different way\nThis is my python program to write into a file in different way\nThis is my python program to write into a file in different way\nThis is my python program to write into a file in different way\n'

In [58]:
# re-executed the sread operation but not getting it in second time why?
# bcz in string we iterate through the string and get the data but now pointer is at last so we are not able to get. it is already exhausted.
f.read()

''

In [60]:
# How to adjust the pointer?
# use seek() function to reset your pointer
f.seek(0)

0

In [61]:
f.read()

'This is my python program to write into a file in different way.\nThis is my python program to write into a file in different way.\nThis is my python program to write into a file in different way\nThis is my python program to write into a file in different way\nThis is my python program to write into a file in different way\nThis is my python program to write into a file in different way\nThis is my python program to write into a file in different way\n'

In [64]:
f.seek(50)

50

In [65]:
f.read()

'different way.\nThis is my python program to write into a file in different way.\nThis is my python program to write into a file in different way\nThis is my python program to write into a file in different way\nThis is my python program to write into a file in different way\nThis is my python program to write into a file in different way\nThis is my python program to write into a file in different way\n'

In [67]:
f1 = open('test5.txt')

In [68]:
f1.tell()

0

In [69]:
f1.read()

'This is my python program to write into a file in different way.\nThis is my python program to write into a file in different way.\nThis is my python program to write into a file in different way\nThis is my python program to write into a file in different way\nThis is my python program to write into a file in different way\nThis is my python program to write into a file in different way\nThis is my python program to write into a file in different way\n'

In [70]:
f1.tell()

450

In [71]:
f1.seek(100)

100

In [72]:
f1.tell()

100

In [73]:
f.read()

'This is my python program to write into a file in different way.\nThis is my python program to write into a file in different way.\nThis is my python program to write into a file in different way\nThis is my python program to write into a file in different way\nThis is my python program to write into a file in different way\nThis is my python program to write into a file in different way\nThis is my python program to write into a file in different way\n'

In [74]:
f.tell()

450

In [85]:
f.seek(5)

5

In [86]:
f.tell()

5

In [87]:
f.read(40) # here it will read the data from 5 to 40 location.

'is my python program to write into a fil'

In [92]:
f.seek(0)

0

In [93]:
f.readline() # It reads only one line in the file

'This is my python program to write into a file in different way.\n'

In [94]:
f.readlines() # reads all the lines. it reads the data line by line and gives the o/p in list format.

['This is my python program to write into a file in different way.\n',
 'This is my python program to write into a file in different way\n',
 'This is my python program to write into a file in different way\n',
 'This is my python program to write into a file in different way\n',
 'This is my python program to write into a file in different way\n',
 'This is my python program to write into a file in different way\n']

In [95]:
f

In [97]:
f.fileno() # gives the file no. in Ram

87

In [98]:
f = open("test.txt", 'w')

In [99]:
f.write('''This is my python program to write into a file in different way.\n',
 'This is my python program to write into a file in different way\n',
 'This is my python program to write into a file in different way\n',
 'This is my python program to write into a file in different way\n',
 'This is my python program to write into a file in different way\n',
 'This is my python program to write into a file in different way\n''')

410

In [100]:
f.close()

In [111]:
f = open("test.txt", 'w')

In [112]:
f.write("sdjnf kwjfaw fwdiha wdvedhv eodihqweoruhov iuahfo weov")

54

In [113]:
f.close() # once we open the file we can see that previous data set is gone
# it has overwritten the previous data

In [121]:
# perform append operation over file since I don't want to lose previos data
f = open("test.txt", 'a') # a means append mode

In [122]:
f.write(" Hello guys how are you? hope you are enjoying learnoing python.]")

65

In [123]:
f.close()

In [124]:
f.name

'test.txt'

In [126]:
f.closed

True

In [127]:
f.mode

'a'

# a+ mode --> append and create a new if file is not available
r+ -> It will open the file in both read and write mode If file ia not available means it will throw error
w+ -> It will open the file in both read and write mode If file ia not available then it will create new.

In [135]:
d = ('Downloads/test.txt', 'w') # it will create a file in d drive

# map, reduce and filter function

In [12]:
l = [2,3,4,5,6]

In [13]:

    l1 = []
    for i in l:
        l1.append(i**2)

In [14]:
l1

[4, 9, 16, 25, 36]

In [15]:
[i**2 for i in l]

[4, 9, 16, 25, 36]

In [16]:
def sq(n):
    return n**2

In [17]:
map(sq,l)

In [18]:
list(map(sq,l))

[4, 9, 16, 25, 36]

In [19]:
list(map(lambda x : x**2, l))

[4, 9, 16, 25, 36]

In [20]:
# convert each element of list into string
list(map(lambda x:str(x),l))

['2', '3', '4', '5', '6']

In [21]:
l

[2, 3, 4, 5, 6]

In [30]:
list(map(lambda x:str(x),l)) # change list element into str

['2', '3', '4', '5', '6']

In [31]:
# write a function to change the list element into string
def str_c(n):
    return(str(n))

In [33]:
list(map(str_c,l))

['2', '3', '4', '5', '6']

In [34]:
list(map(str , l))

['2', '3', '4', '5', '6']

In [35]:
# Reduce Function
# for this first you need to import it inside your system.
# Write a code to do the sum of all the element in list
l = [3,4,5,6,7,8]

In [41]:
sum(l)

33

In [43]:
# first import reduce 
from functools import reduce

In [44]:
reduce(lambda a,b: a+b,l) # reduce function always try to accumulate or aggregate operation on any seq. we have passed.

33

In [45]:
# do the multiplication using reduce() function
reduce(lambda a,b: a*b, l)

20160

In [46]:
reduce(lambda a,b,c: a*b*c, l)  why is it not working?

TypeError: <lambda>() missing 1 required positional argument: 'c'

In [47]:
l1 = [3,4,5,6,7,8,4]

In [48]:
reduce(lambda a,b,c: a*b*c, l1)

TypeError: <lambda>() missing 1 required positional argument: 'c'

In [49]:
l2 = [9]

In [51]:
reduce(lambda a,b: a*b, l2) # this is the exception and irt works for one no.

9

In [52]:
# filter function

In [53]:
l4 = [1,2,3,4,5]

In [54]:
for i in l4:,
    if i%2 == 0:
        print(i)

2
4

In [57]:
list(filter(lambda x: x%2 == 0, l4))

[2, 4]

In [58]:
def check_even():
    if n%2 == 0:
        return True

In [59]:
list(filter(lambda x: x%2 == 0, l4))

[2, 4]